/* SITE */
body,
html {
	padding: 0;
	margin: 0;
	height: 100vh;
}
.weather-page-container {
	height: 100vh;
	width: 100%;
	background: no-repeat center top;
	background-size: cover;
	background-color: rgb(11, 78, 95);
}

/* SEARCH */
.search-container {
	height: 60px;
	margin: auto;
	width: 22%;
	min-width: 300px;
	top: 15%;
	position: relative;
}
.search-input-container {
	padding-bottom: 5px;
}
.search-input {
	outline: 0;
	border-width: 1px;
	border: none;
	border-color: #fff;
	color: #fff;
	width: 100%;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.6);
	text-transform: lowercase;
	padding: 10px 50px 10px 10px;
}
.search-icon-container i {
	color: #ccc;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 20px;
	font-size: 30px;
}
.failed-search-msg {
	height: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-align: center;
	text-shadow: 4px 4px 6px #fff;
}
.no-location-msg {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
}
.no-location-msg span {
	text-decoration: underline;
}
.no-location-msg div {
	margin-top: 20px;
}
.no-location-msg span:hover {
	color: #ff9e59;
	cursor: pointer;
}
/* WEATHER DETAILS */
.details-container {
	width: 22%;
	min-width: 300px;
	min-height: 320px;
	padding: 15px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	position: relative;
	top: 15%;
}

.summary-icon {
	padding-top: 25px;
	margin: auto;
}
.details-location {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.details-temp,
.ticker-item-temp {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 130px;
	font-weight: 900;
	color: #fff;
	position: relative;
	min-width: 155px;
	text-align: right;
}
.details-temp-unit,
.ticker-item-unit {
	position: absolute;
	margin: auto;
	top: 15px;
	right: -45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
}
.details-nav {
	position: absolute;
	bottom: 10px;
	right: 5px;
}
.details-nav span {
	color: rgb(187, 185, 185);
	font-size: 14px;
	margin-right: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.details-nav i {
	color: rgb(187, 185, 185);
	font-size: 12px;
	margin-right: 10px;
}
.details-nav span:hover,
.details-nav i:hover {
	color: #ff9e59;
	cursor: pointer;
}

.summary-text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #f4f4f4;
	padding-left: 10px;
	margin-bottom: 15px;
}
.details-date {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #f4f4f4;
	padding-left: 10px;
}

/* MISC */
.display-flex {
	display: flex;
}
.pointer {
	cursor: pointer;
}
.hidden {
	display: none;
}
/* TICKER */
.ticker-item-label {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	font-size: 25px;
}
.ticker-item-dow {
	font-family: 'Roboto', sans-serif;
	color: #eee;
	font-size: 14px;
	text-align: center;
}
.ticker-item-tod {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.ticker-item-summary {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff;
}
.ticker-item-temp {
	font-size: 28px;
	min-width: 55px;
	font-weight: normal;
}
.ticker-item-unit {
	top: 5px;
	right: -12px;
	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
}
.ticker-item-icon {
	margin: auto;
}

* {
	box-sizing: border-box;
}

@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
.ticker-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 100%;
	box-sizing: content-box;
	padding-top: 15px;
}
.ticker-wrap .ticker {
	display: inline-block;
	height: 70px;
	white-space: nowrap;
	padding-right: 100%;
	box-sizing: content-box;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: ticker;
	animation-name: ticker;
	-webkit-animation-duration: 70s;
	animation-duration: 70s;
}
.ticker-wrap .ticker-item {
	display: inline-block;
	width: 140px;
	margin-right: 40px;
	text-align: center;
}
.label-ticker-item {
	width: 360px !important;
	padding-left: 130px;
	position: relative;
	top: -3px;
}
.ticker-item-city {
	font-family: 'Roboto', sans-serif;
	color: #eee;
	font-size: 10px;
}
.first-ticker-item {
	width: 260px !important;
}
.first-ticker-item-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
	position: relative;
	top: -15px;
}
